const secrets = {
  alchemyAPIKey: undefined,
  DEPLOYER_PRIVATEKEY: undefined,
  ACCOUNT2_PRIVATEKEY: undefined,
  alchemyAPIKeyRinkeby: undefined,
  RINKEBY_DEPLOYER_PRIVATEKEY: undefined,
  ETHERSCAN_API_KEY: undefined,
  MAINNET_PRIVATEKEY: undefined,
  TESTNET_PRIVATEKEY: undefined,
}

module.exports = {
  secrets
}
